<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>echarts demo</title>
    {% comment %}  1. 引入本地需要的js {% endcomment %}
    <script src="/static/js/echarts.min.js"></script>

</head>
<body>
    中国地图
    <div id="main" style="width: 600px; height: 400px"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '中国地图'
            },
            tooltip: {},
            xAxis: {
                data: ["北京", "上海", "广州", "深圳", "杭州"]
            },
            yAxis: {},
            series: [{
                name: '访问量',
                type: 'bar',
                data: [5, 20, 36, 10, 10]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>